#ignore pdfs
*.pdf

#ignore cache
__pycache__

#ignore data
datasets
*.tar

#apple metadata
.DS_Store

#ignore docs
docs

#ignore test
test.py
data_test.py

#ignore notebooks
src/*.ipynb

#ignore test experiments
experiments/*

debug_logs

#ignore slurm
debug.slurm
ablation_scripts

#ignore logs
*.out
*.err

#ignore debugging
debug.py

